@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Zen+Kurenaido&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



